__pycache__/*
*/__pycache__/*
src/DataAccessObjectsTesting/__pycache__/*
src/DataObjects/__pycache__/*
src/DataAccessObjects/__pycache__/*
Assets/Database/*.db
src/DataAccessObjectsTesting/*.log
src/DataAccessObjectsTesting/*.db
*.db
*.log
.env*
