__pycache__/*
__pycache__
*/__pycache__/*
src/DataAccessObjectsTesting/__pycache__/*
src/DataObjects/__pycache__/*
src/DataAccessObjects/__pycache__/*
src/Reports/myapp/__pycache__/
src/Reports/myapp/__pycache__/*
Assets/Database/*.db
src/DataAccessObjectsTesting/*.log
src/DataAccessObjectsTesting/*.db
src/Models/__pycache__/*
src/Models/__pycache__
forms/__pycahe__/*
forms/__pycahe__
python_forms/__pycache__/*
python_forms/__pycache__
*.db
*.log
.env*
src/GoogleSheetsDataAccessObjects/credentials.json
src/GoogleSheetsDataAccessObjects/token.json
